*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    height: 52px;
    width: 135px;
    
}
body{
    font-family: Poppins;
}
header{
    background-color:  #047eb3
    
}
header a{
    color: #fff;
    
}
.img{
width: 20px;

}
.search a{
    margin-left: 35px;
}
.input{
    
    background: #fff;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 10px 10px 10px 55px;
    width: 220px;
}
.search{
    position: relative;
}
.btn-search{
    border: none;
   position: absolute;
   top: 10px;
   left: 15px;
   background-color: #fff;
}
.menu-list{
    list-style: none;
    color: #fff;
}
body a{
      text-decoration: none;
      color: #fff;
}
.header-menu{
    background-color:  #047eb3;
    border-top: 1px solid hsla(0,0%,100%,.24);
   padding-bottom: 3px;
    
}


.dropdown{
    position: absolute;
    top: 70px;
    left: -20px;
    background: rgb(228, 59, 59);
    box-shadow: 0 0 10px 4px rgb(61 61 61 / 7%);
    border-radius: 4px;
    padding: 10px; 
    z-index: 2;
     min-width: 200px; 
    display: none;
  
    
}

/* .sub-menu:hover .dropdown {
    position: relative;
    
} */

.sub-linkk{
   
    font-size: 16px;
    line-height: 24px;
    color: #00415c;
    padding: 10px;
    display: block;
}
.sub-link{
    display: block;
}
.section-title{
    background-color:  #047eb3;
    border-radius: 8px;
   
    color: #fff;
}
.title{
    margin-bottom: 0;
}
.project img{
    border-radius: 8px;
}

.content{
    color: #00415c;
    font-size: 20px;
    font-weight: 600;
}
.card{
    margin: 0 16px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    /* border: 1px solid hsla(0,0%,94.5%,.54); */

   border-radius: 8px;
    
}



