*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo img{
    height: 52px;
    width: 135px;
    
}
body{
    font-family: Poppins;
}
header{
    background-color:  #047eb3
    
}
header a{
    color: #fff;
    
}
.img{
width: 20px;

}
.search a{
    margin-left: 35px;
}
.input{
    
    background: #fff;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 10px 10px 10px 55px;
    width: 220px;
}
.search{
    position: relative;
}
.btn-search{
    border: none;
   position: absolute;
   top: 10px;
   left: 15px;
   background-color: #fff;
}
.menu-list{
    list-style: none;
    color: #fff;
}
body a{
      text-decoration: none;
      color: #fff;
}
.header-menu{
    background-color:  #047eb3;
    border-top: 1px solid hsla(0,0%,100%,.24);
   
    
}
.sub-link{
    display: block;
}
.sub-menu{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 100%;
    left: -20px;
    background: rgb(228, 59, 59);
    box-shadow: 0 0 10px 4px rgb(61 61 61 / 7%);
    border-radius: 4px;
    padding: 10px;
    z-index: 2;
    min-width: 200px;
    
    
}
.sub-menu{
   
}

.sub-link{
   
    font-size: 16px;
    line-height: 24px;
    color: #00415c;
    padding: 10px;
    display: block;
}



